@use "animations";

.start-menu {
    color: #FFF;

    background-color: #005A9E;

    width: 320px;
    height: 640px;

    position: absolute;
    bottom: 40px;
    left: 0;

    z-index: 0;

    box-shadow: #008BC4 1px -1px 10px;

    animation: open-start-menu .3s;

    display: none;

    div:not(.left-panel):not(.apps):not(.left-panel-item-group) {
        &:hover {
            background-color: #196AA8;
        }

        &:active {
            background-color: #337BB1;
        }
    }
}

@media screen and (max-height: 640px) {
    .start-menu {
        height: calc(100% - 90px);
    }
}

.left-panel {
    width: 50px;
    height: 100%;

    position: absolute;
    left: 1px;

    z-index: 1;

    transition: width .1s;
}

.left-panel-item {
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center;
}

.left-panel-item-group {
    position: absolute;
    bottom: 0;
}

.expand {
    background-image: url("@/assets/icons/expand.png");
}

.account {
    background-image: url("@/assets/icons/profile_pic.png");
}

.documents {
    background-image: url("@/assets/icons/document.png");
}

.pictures {
    background-image: url("@/assets/icons/pictures.png");
}

.config {
    background-image: url("@/assets/icons/config.png");
}

.power {
    background-image: url("@/assets/icons/power.png");
}

.apps {
    width: calc(100% - 75px);
    height: 100%;

    position: absolute;
    right: 0;

    padding: 10px;

    animation: open-apps .3s;
}

.app-group {
    padding: 10px;
}

.app {
    img {
        margin-right: 10px;
    }

    .app-child {
        padding: 7px;
        display: flex;
        align-items: center;

        transition: transform .1s;
    }
}


