@use "sass:math";
@use "taskbar-items";
@use "notification-area";

.desktop {
    flex-grow: 1;
}

.taskbar {
    width: 100%;
    height: 40px;
    background-color: #004275;

    display: flex;
    flex-direction: row;

    z-index: 1;

    color: #FFF;
}

.taskbar {
    div:not(.taskbar-items):not(.notification-area):not(.start-button) {
        &:hover {
            background-color: #195583;
        }

        &:active {
            background-color: #0C4B7B;
        }
    }
}
